* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f4;
  width: 100%;
  padding: 0 10%;
}
body .wrapper {
  display: flex;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body .wrapper aside {
  background-color: #5b92e5;
  flex-basis: 20%;
  padding: 3em 1em;
}
body .wrapper aside img {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  border-radius: 50%;
}
body .wrapper aside .contact_container {
  margin: 1em 0 2em;
  width: 100%;
  text-align: left;
  padding-left: 1em;
}
body .wrapper aside .contact_container h3 {
  font-family: "Play", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 1em;
  color: gainsboro;
}
body .wrapper aside .contact_container .contact-item a {
  font-size: 1rem;
  font-family: "EB Garamond", serif;
  text-decoration: none;
  color: gainsboro;
}
body .wrapper aside .contact_container .contact-item span {
  font-weight: bolder;
  color: gainsboro;
}
body .wrapper aside .skill_container {
  width: 100%;
  text-align: left;
  padding-left: 1em;
  margin: 2em 0;
}
body .wrapper aside .skill_container h3 {
  font-family: "Play", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin: 1em 0;
  color: gainsboro;
}
body .wrapper aside .skill_container .skill-item {
  list-style-type: none;
  font-family: "EB Garamond", serif;
  font-weight: 700;
  color: gainsboro;
  font-size: 1.5em;
}
body .wrapper article {
  background-color: gainsboro;
  flex-basis: 80%;
  padding: 3em 7%;
}
body .wrapper article h1, body .wrapper article h2, body .wrapper article h3 {
  font-family: "Play", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 1em;
}
body .wrapper article h1 {
  font-size: 3rem;
}
body .wrapper article .maininfo, body .wrapper article .project, body .wrapper article .ed, body .wrapper article .exp {
  width: 100%;
  margin: 1em 0 2em;
  font-family: "EB Garamond", serif;
  line-height: 1.5;
}
body .wrapper article .project li {
  margin: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
body .wrapper article .project li a {
  text-decoration: none;
  color: #000000;
  text-align: justify;
  font-size: 1em;
}
body .wrapper article .project li a:hover {
  color: #5b92e5;
  font-size: 1.1em;
}
body .wrapper article .project li span {
  font-weight: bolder;
  font-family: "Play", sans-serif;
  margin-left: 1em;
}
body .wrapper article .ed h4 {
  margin-top: 1em;
}

@media all and (max-width: 599px) {
  body {
    padding: 0 3%;
  }
  body .wrapper {
    flex-wrap: wrap;
  }
  body .wrapper aside {
    display: flex;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .wrapper aside img {
    width: 100px;
    height: 100px;
    flex-basis: 30%;
    margin: 1em 0 0;
  }
  body .wrapper aside .contact_container {
    flex-basis: 70%;
    text-align: right;
    padding: 1em;
    margin: 0;
  }
  body .wrapper aside .contact_container h3 {
    margin-bottom: 0.5em;
  }
  body .wrapper aside .skill_container {
    flex-basis: 50%;
    font-size: 1em;
    margin-top: 0;
  }
  body .wrapper .article {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  body .wrapper .article .maininfo, body .wrapper .article .project, body .wrapper .article .ed, body .wrapper .article .exp {
    font-size: 0.6em;
  }
  body .wrapper .article h1, body .wrapper .article h2, body .wrapper .article h3 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
