$header-font :  'Play', sans-serif;
$paragraf-font:  'EB Garamond', serif;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f4;
  width: 100%;
  padding:  0 10% ;

  .wrapper {
    display: flex;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
    aside {
      background-color: #5b92e5;
      flex-basis: 30%;
      padding: 3em 1em;
      img {
        width: 100%;
        height: 30%;
        margin: 0 auto;
        border-radius: 50%;
      }
      .contact_container {
        margin: 1em 0 2em;
        width: 100%;
        text-align: left;
        padding-left: 1em;
          h3 {
            font-family: $header-font;
            font-size: 2em;
            font-weight: bolder;
            margin-bottom: 1em;
            color: gainsboro;
          }
        .contact-item {
          a {
            font-size: 1rem;
            font-family: $paragraf-font;
            text-decoration: none;
            color: gainsboro;
          }
          span {
            font-weight: bolder;
            color: gainsboro;
          }
        }
      }
      .skill_container {
        width: 100%;
        text-align: left;
        padding-left: 1em;
        margin: 2em 0;
        h3 {
          font-family: $header-font;
          font-size: 2em;
          font-weight: bolder;
          margin: 1em 0;
          color: gainsboro;
        }
        .skill-item {
          list-style-type: none;
          font-family: $paragraf-font;
          font-weight: 700;
          color: gainsboro;
          font-size: 1.5em;
        }
      }
    }
    article {
      background-color: gainsboro;
      flex-basis: 70%;
      padding: 3em 7%;
      h1, h2, h3 {
        font-family:$header-font;
        font-size: 2em;
        font-weight: bolder;
        margin-bottom: 1em;
      }
      h1 {
        font-size: 3rem;
      }
      .maininfo, .project, .ed, .exp {
        width: 100%;
        margin: 1em 0 2em;
        font-family: $paragraf-font;
        line-height: 1.5;

      }
      .project{
        li {
          margin: 1em;
          border-bottom: 1px solid rgba(0, 0, 0, 0.07);

          a {
            text-decoration: none;
            color: #000000;
            text-align: justify;
            font-size: 1em;
            &:hover {
              color: #5b92e5;
              font-size: 1.1em;
            }
          }
          span {
            font-weight: bolder;
            font-family: $header-font;
            margin-left: 1em;
          }

        }
      }
      .ed {
        h4 {
          margin-top: 1em;
        }
      }

    }
  }
}
@media all and (max-width:599px){
  body {
    padding: 0 5%;
    .wrapper {
      flex-wrap: wrap;
      aside,  {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        align-self: center;
        padding: 1rem;
        img{
          max-width: 70px;
          height: 70px;
          flex-basis: 50%;
          border: 1px solid gainsboro;
        }
        .contact_container{
          flex-basis: 50%;
          margin: 0;
          text-align: center;
          h3 {
            font-size: 1.125em;
            margin-bottom: 0.5em;
          }
          .contact-item {
            font-size: 0.65em;
          }
          span {
            display: none;
          }
        }
        .skill_container {
          flex-basis: 50%;
          text-align: center;
          h3 {
            font-size: 1.125em;
          }
          .skill-item {
              font-size: 0.65em;
          }
        }
      }
      .article {
        order: 1;
        flex-basis: 100%;
        padding: 1em 7%;
        .maininfo, .project, .ed, .exp {
          font-size: 0.65em;
        }
        h1, h2, h3 {
          font-size: 1.125em;
        }
      }
    }
  }
}
@media (min-width:599px) and (max-width:1300px){
  body {
    .wrapper{
      aside {
        padding: 3em;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
@media (min-width:1900px) and (max-width:3000px){
  body {
    padding: 0 15%;
    .wrapper {
      max-width: 1700px;
      margin: 0 auto;
      flex-wrap: wrap;
      aside,  {
          padding: 3em;
        .contact_container{
          h3 {
            font-size:1.5em;

          }
          .contact-item {
            font-size: 1em;
          }
        }
        .skill_container {

          h3 {
            font-size: 1.5em;
          }
          .skill-item {
            font-size: 1em;
          }
        }
      }
      .article {
        .maininfo, .project, .ed, .exp {
          font-size: 1em;
        }
        h1, h2, h3 {
          font-size: 1.5em;
        }
      }
    }
  }
}