$main-font: 'Segoe UI', sans-serif;
$logo-font: 'Amaranth', sans-serif;
$header-font: 'Sofia', cursive;
$brand-font: 'Noto Sans', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
nav {
  display: flex;
  flex-basis: 100%;
  max-width: 81.25rem;
  margin: auto;
  background-color: #fff;
  padding: 1.875rem 8.84375rem 1.25rem;
  .logo {
    flex-basis: 5%;
    color: #fff;
    font-family: $logo-font;
    font-size: 1.825rem;
    height: 4.375rem;
    max-width: 4.375rem;
    p {
      position: relative;
      top: -60px;
      left: 23px;
    }
  }
  .nav {
    flex-basis: 95%;
    display: flex;
    justify-content: flex-end;
    .nav-item {
      align-self: center;
      list-style-type: none;
      margin: 0 0 0 3.75rem;
      font-size: 1.1875rem;
      color: #545454;
      img {
        margin-right: 0.55rem;
      }
      &:hover {
        cursor: pointer;
        color: #000;
        background-color: #f5f5f5;
      }
    }
  }
}
header {
  flex-basis: 100%;
  max-width: 63.5625em;
  height: 30.3125rem;
  background-image: url("../img/layer_24_291.png");
  background-size: cover;
  margin: auto;
  text-align: center;
  padding: 9.75rem 0 0;

  h1, p {
    font-family: $main-font;
    color: #fff;
  }
  h1 {
    font-size:  7.25rem;
    font-weight: 400;
    line-height: 7.25rem;
  }
  p {
    font-size: 1.9375rem;
    font-weight: 300;
  }
}
article {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 81.25rem;
  margin: auto;
  padding: 1.875rem 8.84375rem 1.25rem;
  .main-info {
    flex-basis: 100%;
    border-bottom: 1px solid #3d3b4b;
    border-top: 1px solid #3d3b4b;
    padding: 0.625rem 1.875rem;
    font-family: $main-font;
    font-size: 1.4375rem;
    color: #494848;
    font-style: italic;
    line-height: 2.25rem;
    span {
      font-weight: bolder;
      color: #82699d;
    }
  }
  .blog-post {
    display: flex;
    flex-basis: 100%;
    padding: 2rem 0 2.25rem;
    img {
      border: 10px solid #d4d5bb;
      border-radius: 50%;
    }
    .blog-post-info {
      flex-basis: 60%;
      margin-left: auto;
      h1 {
        color: #505051;
        font-family: $main-font;
        font-size: 1.9375rem;
        line-height: 2.25rem;
        margin-bottom: 1.5625rem;
        margin-top: 2.6875rem;
      }
      p {
        color: #838383;
        font-size: 0.9375rem;
        line-height: 1.75rem;
        font-family:  $main-font;
      }
    }
  }
  .brand {
    flex-basis: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    h1 {
      flex-basis: 32%;
    }
    hr {
      flex-basis: 68%;
      height: 5px;
      background-color: rgba(198,195,181, 0.5);
      margin-top:  10px;
      border: none;
    }
    .brand-item {
      flex-basis: 100%;
      display: flex;
      .brand-item-ing {
        flex-basis: 25%;
        padding: 1.3125em;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid rgba(198,195,181, 0.5);
        margin: 2.5em 0;
      }
    }
  }
}
footer {
  display: flex;
  flex-basis: 100%;
  max-width: 81.25rem;
  margin: auto;
  padding: 1.6875rem 8.84375rem;
  background-color: #e8e8e8;
  .twit {
    margin-left: auto;
  }
  .face {
    margin-left: 0.78125rem;
  }
}


@media all and (max-width: 1100px) {
 article .brand {
    h1 {
      flex-basis: 100%;
    }
   .brand-item {
     flex-wrap: wrap;
     .brand-item-ing {
       flex-basis: 50%;
     }
   }
  }
}

article .blog-post img {
  width: 250px;
  height: 250px;
}
article .blog-post .blog-post-info h1 {
  margin-top: 0;
}

@media all and (max-width: 850px) {
  nav {
    padding: 1rem;
  }
  nav .nav .nav-item {
    margin: 0 0 0 1rem;
  }
  article {
    padding: 1rem;
  }
  footer {
    padding: 1rem;
  }
}

@media all and (max-width: 668px){
  article .blog-post img {
    display: none;
  }
  article .blog-post .blog-post-info {
    flex-basis: 100%;
  }
}
@media all and (max-width: 599px){
.non-mobile {
  display: none;
}
  article .brand .brand-item .brand-item-ing {
    flex-basis: 100%;
    margin: 0;
  }
}