* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #f0f1f0;
}

aside {
  flex-basis: 5%;
  align-self: flex-start;
  order: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 1020px;
  background-color: #333f4e;
  width: 120px;
}
aside .aside_head_item {
  width: 100%;
  height: 83px;
  background-color: #333f4e;
}
aside .aside_head_item:hover {
  cursor: pointer;
}
aside .aside_item {
  width: 90%;
  height: 100px;
  background-color: #384756;
  margin: 0.5rem auto;
  border-radius: 3%;
  padding: 1rem;
}
aside .aside_item .aside_item_content {
  background-color: #b4b9bd;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1rem auto;
}

.open_aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 1020px;
  background-color: #333f4e;
  width: 300px;
}
.open_aside .aside_open_head_item {
  width: 100%;
  height: 83px;
  text-align: right;
  padding: 1rem;
}
.open_aside .aside_open_head_item img {
  float: left;
}
.open_aside .aside_open_head_item p {
  color: #b4b9bd;
  font-weight: bold;
  margin: 1rem;
  width: 90%;
}
.open_aside .aside_open_head_item p:hover {
  cursor: pointer;
}
.open_aside .open_aside_item {
  width: 90%;
  background-color: #384756;
  margin: 0.5rem auto;
  border-radius: 3%;
  padding: 1rem;
  text-align: left;
}
.open_aside .open_aside_item:hover {
  cursor: pointer;
}
.open_aside .open_aside_item a {
  color: #b4b9bd;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

header {
  order: 1;
  flex-basis: 93%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 4rem;
  align-items: center;
  background-color: white;
}
header .search {
  flex-basis: 90%;
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 3rem;
}
header .search:hover {
  cursor: pointer;
}
header .header_item {
  flex-basis: 2.5%;
  color: #b4b9bd;
}
header .header_item:hover {
  cursor: pointer;
}

#show-logo {
  display: none;
  order: 2;
  flex-basis: 90%;
  background-color: #f0f1f0;
  margin-top: 3rem;
  margin-left: -10rem;
  text-align: center;
}

article {
  order: 3;
  flex-basis: 93%;
  background-color: #f0f1f0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  height: 940px;
  padding: 2rem;
}
article .activity {
  flex-basis: 40%;
}
article .activity .activity_header select {
  border: none;
  outline: none;
  color: #384756;
  font-size: 1rem;
  font-weight: bold;
}
article .activity .activity_header select option {
  color: #384756;
  font-size: 1rem;
  outline: none;
}
article .vehicles {
  flex-basis: 55%;
}
article .vehicles h1 {
  width: 90%;
}
article .vehicles .vehicles_header-item:hover {
  cursor: pointer;
  border-bottom: 2px solid #384756;
}
article .activity, article .vehicles {
  background-color: #ffffff;
  border-radius: 0.313rem;
}
article .activity_header, article .vehicles_header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #384756;
  border-bottom: 1px solid #f0f1f0;
}
article .activity_header h1, article .vehicles_header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media all and (max-width: 700px) {
  article {
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
  }
  article .activity, article .vehicles {
    flex-basis: 85%;
  }
  article .vehicles .vehicles_header-item {
    margin-left: 1rem;
  }

  header {
    flex-basis: 80%;
  }
  header .search {
    flex-basis: 80%;
  }
  header .header_item {
    margin-left: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
